<div class="dialog-container">
    <h2>Alterar Senha</h2>
  
    <div class="form-group">
      <label>Senha Atual</label>
      <input type="password" [(ngModel)]="oldPassword">
    </div>
  
    <div class="form-group">
      <label>Nova Senha</label>
      <input type="password" [(ngModel)]="newPassword">
    </div>
  
    <div class="form-group">
      <label>Confirmar Nova Senha</label>
      <input type="password" [(ngModel)]="confirmPassword">
    </div>
  
    <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
  
    <div class="actions">
      <button class="btn primary" (click)="changePassword()">Confirmar</button>
      <button class="btn secondary" (click)="close()">Cancelar</button>
    </div>
  </div>
  