# === Django e extensões ===
Django==5.1.7
djangorestframework==3.15.2
djangorestframework_simplejwt==5.5.0
django-cors-headers==4.7.0
asgiref==3.8.1
sqlparse==0.5.3
tzdata==2025.1

# === REST e Web ===
requests==2.32.3
urllib3==2.3.0
python-dotenv==1.0.1
websocket-client==1.8.0

# === Autenticação e JWT ===
PyJWT==2.9.0

# === Banco de Dados ===
psycopg2-binary==2.9.10

apache-airflow==2.10.5
requests==2.32.3
# === Automação e Selenium ===
selenium==4.30.0
attrs==25.3.0
certifi==2025.1.31
h11==0.14.0
idna==3.10
outcome==1.3.0.post0
PySocks==1.7.1
sniffio==1.3.1
sortedcontainers==2.4.0
trio==0.29.0
trio-websocket==0.12.2
wsproto==1.2.0
typing_extensions==4.12.2

gunicorn==23.0.0