::ng-deep table mat-row {
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  
    &:hover {
      background-color: #f5f5f5;
    }
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .button-group {
    display: flex;
    gap: 10px; /* Adiciona espaço entre os botões */
  }
  
  .page-title {
    margin-right: auto;
  }
  